.inicio {
    color: white;
}
.boton1 {
    position: static;
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

.b2 {
    position: static;
    border: 1px solid white;
    background-color: green;
    text-decoration: none;
    color: white;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}


.fondoCabecera {
    background-image: url('../multimedia/fondo.jpeg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 0px;
    text-align: left;
    padding-left: 30%;
    padding-top: 3%;
}

.crt{
    text-align: left;
}

.boton5 {
    position: relative;
    left:50%;
}

.boton7{
    position: relative;
    left: 30%;
}
.bob{
    position: relative;
    left:100%;
}